@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-glow {
        text-shadow: 0 0 20px rgba(239, 68, 68, 0.5);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}